{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id="social-share-section" class="social-share" aria-label="Share this post">
  <span class="sr-only">Share: </span>
  {% if site.share-links-active.twitter %}
    <a class="social-share__link" href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}">Twitter</a>
  {% endif %}
  {% if site.share-links-active.facebook %}
    <a class="social-share__link" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}">Facebook</a>
  {% endif %}
  {% if site.share-links-active.linkedin %}
    <a class="social-share__link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}">LinkedIn</a>
  {% endif %}
  {% if site.share-links-active.vk %}
    <a class="social-share__link" href="https://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}">VK</a>
  {% endif %}
</section>
{% endif %}
